<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devices List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>type</th>
            <th>location</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d : ${devices}">
            <td th:text="${d.type}"></td>
            <td th:text="${d.location}"></td>
        </tr>
        </tbody>

    </table>

    <p>
        <a href="/device/add">new device</a>
    </p>
</div>
</body>
</html>